body {
    margin: 0px;
    background: url(Asset/Gd.Upi.jpg);
    background-size: 100% 96.4%;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.overlay {
    background-color: rgba(77, 77, 77, 0.75);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #D2E8E7;
    height: 60px;
}

.judul {
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-family: sans-serif;
}

ul.buttons {
    margin: 0px;
    float: right;
}

.navbar ul li {
    float: left;
    background-color: #D2E8E7;
    height: 60px;
    display: flex;
    align-items: center;

    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.josefin-sans-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .solar--user-circle-bold {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' fill-rule='evenodd' d='M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10m-7-3a3 3 0 1 1-6 0a3 3 0 0 1 6 0m-3 11.5a8.46 8.46 0 0 0 4.807-1.489c.604-.415.862-1.205.51-1.848C16.59 15.83 15.09 15 12 15c-3.09 0-4.59.83-5.318 2.163c-.351.643-.093 1.433.511 1.848A8.46 8.46 0 0 0 12 20.5' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

.greeting {
    padding-top: 100px;
    padding-left: 90px;
    font-size: 60px;
    color: white;
}

.box {
    float: left;
    width: 300px;
    height: 225px;
    margin: 100px 0px 0px 111px;
    background-color: #D2E8E7;
}